.hero {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    
    
    text-align: center;
    padding: 20px;
}


.hero-content {
    max-width: 1248px;
    margin-top: 75px;
    
}


.hero h1 {
    font-size: 64px; /* Large Text */
    font-weight: bold; /* Bold */
    color: #000; /* Black */
    line-height: 1.2;
    font-family: "Montserrat", serif;
}

.hero h1 span {
    font-weight: 600; /* Semi-Bold */
    color: #6c757d; /* Gray */
}

/* Paragraph */
.hero p {
    font-size: 18px;
    color: #626262; /* Gray */
    margin-top: 15px;
    max-width: 72%;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    font-family: "Work Sans", serif;
}
@media (max-width: 768px){
    .hero p{
        max-width: 100%;
       

    }
    .hero h1{
        font-size: 50px;
        margin-bottom: 25px;
        text-align: center;
    }
    .hero-content{
        margin-top: 50px;
    }
}

.highlight-text {
    display: block;
    color: #FF6B35;
}

.description {
    font-size: 18px;
    font-weight: 500;
    height: 63px;
    color: #666;
    max-width: 566px;
    line-height: 1.6;
    font-family: "Work Sans", serif;
   
    margin-bottom: 40px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}

.cta-button {
    background-color: #000;
    color: white;
    width: 154px;
    height: 48px;
    padding: 14.5px 40px;


    border-radius: 7px;

    cursor: pointer;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.image-container img {
    width: 500px;
    border-radius: 10px;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

.who-content h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 48.76px;
    font-family: "Montserrat", serif;
    margin-top: 0;
    max-width: 90vw;
}

.who-content h2 span {
    color: #e0e0e0;
    font-size: 40px;
    font-weight: 800;
    line-height: 48.76px;
    font-family: "Montserrat", serif;
    margin-top: 0;
    max-width: 90vw;
}

.who-content p {
    font-size: 18px;
    line-height: 21.11px;
    font-weight: 500;
    width: 437px;
    height: 168px;
    margin: 30px 0;
    font-family: "Work Sans", serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
    max-width: 90vw;
}

.read-more {
    background: white;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 20px;
}
.red-more {
    background: black;
  
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    
}

.founder-section {
    
    justify-content: center;
    align-items: center;
   
    background-color: #fff;
   
   max-width: 1200px;
  margin: 0 auto;
 margin-top: 20px;
    height: 400px;
 
}

.founder-container {
  display: flex;
  gap: 100px;
  max-width: 1200px;
  

  align-items: center;
  justify-content: center;
}

/* Image Styling */
.founder-image {
  max-width: 600px;
height: auto ;
margin-top: -14px;
padding-top: 30px;
}

.founder-image img {
   height: 100%;
   width: 100%;
   max-width: 650px;
   object-fit: fill;
}

/* Text Content */
.founder-content {
   width: 700px;
   align-items: flex-end;
   align-self: flex-end;
   padding-bottom: 15px;
}

.founder-content h2 {
    font-size: 24px;
    font-family: "Montserrat", serif;
    color: #000;
    margin-bottom: 8px;
    margin-top: -8px;
    font-weight: bold;
}

.founder-content p {
   width: 100%;
   padding: 0;
   font-family: "Work Sans", serif;
   margin: 0;
   margin-bottom: 40px;
   font-size: 18px;
   font-weight: 500;
   color: #626262;
   text-align: left;
}
.founder-content strong{
font-size: 18px;
font-weight: 600;
}

/* Read More Button */
.read-more-btn {
    display: inline-block;
    margin-top: 0px;
    padding: 18px 24px;
    font-size: 1rem;
    font-weight: bold;
    height: 56px;
    border: 2px solid #171716;
    border-radius: 7px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    width: 190px;
    font-family: "Work Sans", serif;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
#read{
    display: none;
}

.read-more-btn:hover {
    background-color: black;
    color: white;
}
@media (max-width: 1024px){
    .blocked{
        
    }
    .founder-image img{

    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .founder-container {
        flex-direction: column;
        text-align: center;
        gap: 40px;
       
    }

    .founder-image {
        max-width: 100%;
    }

    .founder-content {
        max-width: 100%;
        flex-direction: column;
     
    }
}
@media (max-width:1024px) and (min-width: 700px){
    .founder-container{
        gap: 10px;

    }
    .block{
        width: 40%;
    }
    body{
        padding: 10px;
    }
    .founder-image{
        margin-bottom: 300px;
    }
}

@media (max-width: 768px) {
    .founder-image {
        max-width: 500px;
        max-height: 302px;
        margin-top: 14px;
        margin-bottom: 30px;
        
    }
.founder-container{
    height: fit-content;
    position: relative;
   height: fit-content;
   flex-direction: column;
   padding: 20px;
   margin-top: 150px;
   
}
.founder-section{
    height: fit-content;
}
#read{
    display: inline-block;
    width: 100%;margin: 0 auto;
    height: 44px;
    font-family: "Work Sans", serif;
    font-weight: 500;
}
    .founder-content h2 {
        font-size: 1.8rem;
        text-align: left;
        margin-bottom: 12px;
    }

    .founder-content p {
        font-size: 16px;
        text-align: justify;
        margin-bottom: 32px;
    }
.who-we-are, .who-content, .who-image, .read-more{
    display: none;
    overflow: hidden;
    opacity: 0;
}
    
}
@media (max-width: 1024px){
    .founder-container.animate{
        padding-bottom: 200px;
    }
}

@media (min-width: 769px){
    .about-section {
        display: none;
        opacity: 0;
    }
    .block{
        display: none;
    }
    
}
@media (max-width: 768px) {
    .about-section {
        max-width: 344px;
        background: #000;
        border-radius: 15px;
        padding: 10px;
        text-align: center;
        color: #fff;
        margin: 0 auto;
        margin-bottom: -230px;
        margin-top: 60px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }

    .about-image img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .about-content h2 {
        font-size: 24px;
        font-weight: 900;
        margin-top: 15px;
        font-family: "Montserrat", serif;
        color: #626262;
    }

    .about-content h2 span {
        font-weight: 700;
        color: #fff;
        font-size: 24px;
        font-family: "Montserrat", serif;
    }

    .about-content p {
        font-size: 0.9rem;
        line-height: 1.5;
        margin: 10px 0 20px;
        font-family: "Work Sans", serif;
    }

    .about-button {
        display: inline-block;
        background: #fff;
        color: black;
        font-size: 1rem;
        font-weight: 600;
        padding: 12px 20px;
        border-radius: 10px;
        text-decoration: none;
        font-family: "Work Sans", serif;
        width: 100%;
        text-align: center;
    }

    .about-button:hover {
        background: #f1f1f1;
    }
    .hide{
        display: none;
    }
    .block{
        display: block;
        width: 50%;
        font-weight: 600;
       font-family: "Montserrat", serif;

    }
}


.who-we-are {
    display: flex;
flex-direction: row-reverse;
    background-color: #000;
    color: white;
    padding: 0 40px;
    border-radius: 20px;
    width: 1200px;
    padding-bottom: 0px;

    margin: 120px auto;
    margin-top: 15px;
}



.who-content {
    flex: 1;
    padding-right: 20px;
    
    margin-top: 40px;

}

.who-image img {
    margin-top: 40px;
    width: 550px;
    height: 344px;
    border-radius: 10px;
    padding-right: 10px;
    object-fit: scale-down;
}

.title {
    font-size: 32px;
    font-family: "Montserrat", serif;
    font-weight: 700;
    /* line-height: 100%; */
    color: #626262;
    margin-top: 0;
    margin-bottom: 20PX;
}
.subtitle {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    font-family: "Work Sans", serif;
    margin-top: 5px;
    margin-bottom: 0;
    /* line-height: 100%; */
}
.g {
    font-size: 20px;
    width: 743px;
    font-family: "Work Sans", serif;
    color: #626262;
    font-weight: 500;
    /* line-height: 100%; */
   
    margin-bottom: 40px;
    height: 92px;
}



.tags-container {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    align-items: center;
    gap: 10px;

    max-width: 600px;

    margin: 0 auto;

    margin-bottom: 25px;
}

.tag {
    display: inline-block;
    padding: 10px 18px;
    border-radius: 20px;
    font-family: "Work Sans", serif;
    line-height: 18.77px;
    font-size: 16px;
    font-weight: 500;

    color: white;
    text-align: center;
    cursor: pointer;
}

.tag.blockchain {
    background-color: #00d1b2;
}

.tag.cloud {
    background-color: #6a5acd;
}

.tag.design {
    background-color: #ff5733;
}

.tag.mobile {
    background-color: #ffd700;
}

.tag.dev {
    background-color: #ff33ff;
}

.tag.it {
    background-color: #483d8b;
}

.tag.more {
    background-color: #e0e0e0;
    color: black;
}

.services-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-bottom: 30px;
    
}

.services-images img {
    width: 403px;
    height: 296px;
    border-radius: 10px;
    object-fit: cover;

}

.view-more {
    display: block;
    margin: 20px auto;
    background-color: black;
    color: white;

    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    width: 183px;
    height: 56px;
    text-align: center;
    font-family: "Montserrat", serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.view-more:hover {
    background-color: #333;
}

.services-title {
    text-align: center;
    color: #000;
    font-size: 56px;

    line-height: 68.26px;
    font-family: "Montserrat", serif;
    font-weight: 700;
    margin: 0;
    padding-top: 40px;
}

.services-subtitle {
    text-align: center;
    line-height: 68.26px;
    color: gray;
    font-size: 56px;

    font-family: "Montserrat", serif;
    font-weight: 700;
    margin: 0;
    margin-bottom: 30px;
}

.services-header {
    text-align: center;
    font-size: 16px;
    color: #626262;

    font-weight: 500;
    font-family: "Work Sans", serif;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: -30px;

}
.serve{
    text-align: center;
    font-weight: 500;
    font-family: "Work Sans", serif;
    color: #626262;
    font-size: 18px;
    margin: 0;
    width: 80%;
    margin: 0 auto;
    
}
.serve strong{
    font-weight: 600;
}

/* Parent Container */
.feature-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 40px;
}

/* The Card Wrapper */
.feature-card {
    background: #fff;
    border-radius: 12px;
    border: 1px solid #868282;
   border-bottom: none;
    padding: 30px;
    width: 100%;
    max-width: 943px;
    text-align: left;
    height: 433px;
}

/* Heading */
.feature-card h2 {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    font-family: "montserrat", serif;
    margin-bottom: -13px;
    margin-top: -7px;
}

/* Paragraph */
.feature-card p {
    font-size: 16px;
    font-weight: 500;
    font-family: "Work Sans", serif;
    color: #626262;
    line-height: 1.6;
}

/* Image Section with Gradient Background */
.feature-image {
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    height: 220px; /* Adjust height as needed */
    background: linear-gradient(180deg, #ececec 10%, #fbfbfb 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 343px;
}

/* SVG Icons */
.icon {
    position: absolute;
    width: 95px; /* Adjust icon size */
    height: 95px;
    opacity: 0.9;
}


.icon1 {
    top: 60%;
    width: 95px;
    left: 1%;
    height: 95px;
    transform: rotate(-297.13deg);
}
.icon2 {
  top: 51%;
  width: 230px;
  height: 230px;
}
.icon3 {
    bottom: 20%;
    left: 36%;
    top:-6%;
    width: 71px;
    height: 71px;
}
.icon4 {
    top: 40%;
    right: 10%;
    height: 85px;
    width: 85px;
    transform: rotate(-25deg);
}

/* Responsive Design */
@media (max-width: 768px) {
    .feature-section{
    
  padding: 10px;
    }
    .feature-card {
        max-width: 800px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        margin-top: 20px;
        height: 340px;
    }

    .feature-image {
        height: 202px;
    }

    .icon {
        width: 40px;
        height: 40px;
    }
    .icon1 {
        top: 40%;
        width: 45px;
        left: 5%;
        height: 45px;
        transform: rotate(-308.13deg);
    }
    .icon2 {
      top: 69%;
      width: 100px;
      height: 90px;
    }
    .icon3 {
        bottom: 20%;
        left: 36%;
        top:-6%;
        width: 38px;
        height: 38px;
    }
    .icon4 {
        top: 40%;
        right: 10%;
        height: 45px;
        width: 45px;
        transform: rotate(-25deg);
    }
    .serve{
        width: 100%;
        margin: 0 ;
        text-align: center;
        margin-top: -10px;
    }
    .services-subtitle, .services-title{
        font-size: 36px;
     line-height: 1.4;
    }
    .services-title{
        margin-bottom: 10px;
    }
    .services-header{
        line-height: 1.2;
    }
    .feature-card p{
        text-align: center;
    }
    .feature-card h2{
        text-align: center;
        margin-top: 10px;
        margin-bottom: -17px;
    }
    .services-section{
        margin-top: 25px;
    }
    .view-more{
        width: 70%;
        padding: 10px 25px;

    }
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    width: 100%;
    max-width: 1200px; /* Optional: Restrict width for better centering */
    margin: 0 auto;
    
    align-items: center;  /* Centers items inside each grid cell */
    justify-items: center; /* Centers content inside each grid cell */
    
    
    align-content: center; /* Centers the whole grid on the page */


}

.testimonial {
    width: 260px;
    height: 122px;
    text-align: left;
}

.testimonial p {
    font-size: 18px;
    font-family: "Montserrat", serif;
    line-height: 21.94px;
    font-weight: 600;
    font-style: italic;
    color: #626262;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
}

.client {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.client img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.client-info {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.77px;
    font-family: "Work Sans", serif;
    color: #626262;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
}
.container{
   margin-top: 70px;
}
.heder-section {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
   
}

.heder-section h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 18.77px;
    font-family: "Work Sans", serif;
    height: 19px;
    color: #555;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 14px;
}



.heder-section p {
    font-size: 44px;
    font-weight: 700;
    font-family: "Montserrat", serif;
    line-height: 53.64px;
    color: #777;
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
}

/* Example media query for mobile view */
@media (max-width: 767px) {
   
    .vision-section h1, .vision-section h2 {
        font-size: 45px; /* Adjusted font size for mobile */
        line-height: 50px; /* Adjusted line height for mobile */
    }
    
    
    .testimonials{
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 15px;
        width: 100%;
  padding: 10px;
    }
    .testimonials p{
        font-size: 14px;
       
    }
    .testimonial{
        width: 160px;
    padding: 5px;
    }
    .heder-section p{
        font-size: 30px;
        line-height: 29px;
        
    }
    .heder-section h2{
        font-size: 12px;
        line-height: 14px;
    }
}



.image-caption-container {
    text-align: center;
    max-width: auto;
    margin: auto;
    margin-top: 94px;
    margin-bottom: 80px;
}
.image-caption-container img {
    width: 1074px;
    border-radius: 10px;  
    display: block;
    margin: auto;
    margin-top: 94px;
    margin-bottom: 30px;
    padding-top: 64px;
    
}

.image-caption {
    font-style: italic;
    width: 1060px;
    font-size: 18px;
   font-weight: 600;
    color: #626262;
    max-width: 90vw;
   
 
    font-family: "Work Sans", serif; 
    margin-left: auto;
    margin-right: auto;
    line-height: 21.11px;

    
}


.blog-section {
    text-align: center;
   margin-top: 50px;
    background-color: #fff;
    margin-bottom: 80px;
}

/* Blog Title */
.blog-section h2 {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
    font-family: "Montserrat", serif;
    text-align: left;
    margin: 0 auto;
    padding: 60px;
}

.headerrr{
    text-align: left;
    max-width: 1248px; /* Ensures central alignment */
    
}
.headerrr h1{
    font-size: 32px;
    font-family: "Montserrat", serif;
padding-bottom: 20px;
font-family: 700;
color: #111;
}

.blog-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1248px; /* Ensures central alignment */
    margin: 0 auto; /* Centers the section horizontally */
    flex-wrap: wrap;
}

/* Blog Cards */
.blog-card {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    width: 390px; /* Ensures uniform card width */
    text-align: left;
}
.new{
    padding-top: 50px;
    padding-bottom: 20px;
    
   
}
.newer{
   
    padding: 10px;
border-bottom: none;
overflow: visible;
height: 300px;
background-color: ;

border-bottom: none;
}
.blog-card.newer img{
    width: 100%;
    height: 230px;
    margin: 0 auto;
    padding: 0px;
    margin-top: 18px;
 border-bottom-right-radius: 0px;
 border-bottom-left-radius: 0px;
    padding-bottom: 0px;
  
}
.hello{
 
    display: block;
}
.blog-card.newer .blog-meta{
    text-align: center;
    color: ;
    font-family: "Montserrat", serif;
    font-family: 800;
    background-color: #27158a;
    width: 100%;
    margin: 0 auto;
    padding: 10px 8px;
    border-bottom: none;
    color: #626262;
    z-index: 1000;
    display: block;
    border-radius: 5px;
    margin-top: -10px;
    
}



.new .blog-card{
    width: 329px;
}
/* Blog Images */
.blog-card img {
    width: 100%;
    height: 202px;
    object-fit: cover;
    border-radius: 8px;
}

/* Blog Meta Info */
.blog-meta {
    font-size: 14px;
    font-weight: 600;
    color: #666;
  
    text-transform: uppercase;
    font-family: "Work Sans", serif;
}

/* Blog Titles */
.blog-card h3 {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    width: 100%;
    font-family: "Montserrat", serif;
    text-align: left;
   
}

/* Responsive Design */
@media (max-width: 1024px) {
    .blog-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .blog-card{
        max-width: 340px;
        width: 90%;
    }
    .blog-section h2 {
text-align: center;


}
}

.blog-contain {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    gap: 100px;  /* Reduced gap for better spacing */
    max-width: 1248px; 
    margin: 80px auto 90px auto;
    
}


/* Adjust text block */
.blog-content {
    flex: 1;
    min-width: 600px;
    text-align: left; /* Default alignment for larger screens */
}
.new .blog-content{
    min-width: 400px;
}

.blog-content small {
    font-size: 12px;
    color: #888;
    text-transform: uppercase;
    font-family: "Work Sans", serif;
}

.blog-content h2 {
    font-size: 45px;
    color: #222;
    margin-top: 5px;
    font-family: "Montserrat", serif;
}

.blog-content p {
    font-size: 18px;
    color: #626266;
    line-height: 1.6;
    margin-top: 10px;
    font-family: "Work Sans", serif;
    font-weight: 500;
}

/* Media section */
.blog-media {
    flex: 1;
    min-width: 320px;
    text-align: center;
}

.blog-media img {
    width: 100%;
    max-width: 420px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.blog-media img:hover {
    transform: scale(1.05);
}

.blog-meta {
    font-size: 12px;
    color: gray;
    margin-top: 10px;
    text-transform: uppercase;
}

.blog-title {
    font-size: 18px;
    font-weight: bold;
    color: #222;
    margin-top: 5px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .blog-contain {
        flex-direction: column;
        text-align: center;
        padding: 15px;
        gap: 50px;
        margin-bottom: -50px;
        margin-top: 20px;
    }

    .blog-content {
        min-width: 100%;
        text-align: center; /* Center text for mobile */
        margin-bottom: -60px;
        margin: 0 auto;
    }

    .blog-content h2 {
        font-size: 36px;
        
    }

    .blog-content p {
        font-size: 16px;
    }

    .blog-media {
        margin-top: 20px;
    }

    .blog-media img {
        max-width: 100%;
    }
    
    
.services-section{
    padding-top: 210px;
}
.services-title{
    max-width: 100%;
    width: 100%;
}
}

.services-section{
    margin-top: -80px;
}



a{
    text-decoration: none;
}
.blog-card:hover {
    color: #ff5722;
}
.linker h3:hover, .linker p:hover, .linker:hover{
    color: #ff5722;
    transition: transform 0.3s ease-in-out;
    transform: scale(1);
}
.linker img:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
}

.mfa{
    padding-top: 30px;
}
@media (max-width: 1024px){
    .mfa{
        padding-top: 0px;

    }
    .mfa .founder-image{
        width: 100%;
        margin-top: -140px;
        padding-top: -20px;
        
    }
    .mfa .founder-content{
        margin-bottom: -70px;
    }
}
  
  
  
.butts{
    max-width: 850px;
    margin: 10px 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 30px;
}  
.type{
    padding: 15px 20px;
    background-color: ;
    font-family: "Work Sans", serif;
    color: #fff;
    border-radius: 50px;
    margin-bottom: 20px;

}
@media (max-width: 1024px){
    .butts{
        padding: 10px;
        display: none;
margin: 10px -20px;
    }
    .type{
        padding: 15px 10px;
        
        font-size: 15px;
    }
}
  
  
  
  
  
  
  
  
@media (max-width:1024px) and (min-width: 700px){
    .founder-container{
        gap: 10px;

    }
    .block{
        width: 40%;
    }
    body{
        padding: 10px;
    }
    .founder-image{
        margin-bottom: 70px;
    }
}

.veteran-section{
    max-width: 88%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 60px;
    margin-top: 40px;
    background: linear-gradient(90deg, rgba(15,15,15,1) 0%, rgba(47,47,47,0.7399334733893557) 43%, rgba(0,0,0,0.10407913165266103) 100%), url('../../image/index_image/a-realistic-photograph-depicts-two-adult_fmIhjKnSScqadghEVfLQTA_jDRJoSeVSAqI1CxSP96ZEQ.jpeg');
background-size: cover;
background-position: center;
margin: 0 auto;
border-radius: 8px ;
}
.veteran-text{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.veteran-text h2{
    font-size: 48px;
    font-family: "Montserrat", serif;
    font-weight: 700;
    color: #d8d8d8;
    text-align: left;
}
.veteran-text p{
    font-size: 18px;
    font-family: "Work Sans", serif;
    color: #d8d8d8;
font-weight: 500;
margin-top: -10px;
}
.veteran-text .learner{
    background-color: transparent;
    border: 3px solid #d8d8d8;
    text-decoration: none;
    font-size: 18px;
    font-family: "Work Sans", serif;
    padding: 15px 25px;
    max-width: 206px;
    border-radius: 8px;
    color: #d8d8d8;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 500;
}
.veteran-text .learner:hover{
transform: scale(1.1);
transition: cubic-bezier(1, 0, 0, 1);
background-color: #000;
border: none;
}
@media (max-width: 720px){
    .veteran-section{
        background: linear-gradient(180deg, rgba(36, 36, 36, 0.774) 0%, rgba(27, 27, 27, 0.891) 43%, rgba(0, 0, 0, 0.884) 100%), url('../../image/index_image/a-realistic-photograph-depicts-two-adult_fmIhjKnSScqadghEVfLQTA_jDRJoSeVSAqI1CxSP96ZEQ.jpeg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    padding: 20px;
    max-width: 100%;
    border-radius: 0px;
    }
    .veteran-text h2{
        font-size: 32px;
    }
    .veteran-text p{
        font-size: 16px;
    }
    
}

.mfa-section{
    max-width: 88%;
    display: flex;
    align-items: center;
   justify-content: center;
   flex-direction: column;
    gap: 30px;
    padding: 20px;
margin: 0 auto;
border-radius: 8px ;
padding-top: 50px;
}
.mfa-text{
    text-align: center;
}
.mfa-text h2{
    font-size: 56px;
    color: #111;
    font-weight: 700;
    font-family: "Montserrat", serif;
}
.mfa-images{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.mfa-images img{
    width: 550px;
    height: 250px;
    object-fit: cover;
    filter: brightness(80%);
}
.mfa-section a{
    text-decoration: none;
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 10px 25px;
    border-radius: 8px;
}
.mfa-section a:hover{
    background-color: #fff;
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
    color: #000;
    border: 2px solid #000;
}
.mfa-text p{
    font-family: "Work Sans", serif;
    font-family: 24px;
    font-weight: 500;
    color: #626262;
}

@media (max-width: 810px) {
    
.mfa-text{
    text-align: center;
    width: 100%;
    max-width: 100%;
    padding: 0;
}
    
.mfa-text h2{
    font-size: 32px;
    color: #111;
    font-weight: 700;
    font-family: "Montserrat", serif;
}
    .mfa-images {
      display: flex;
      flex-direction: row;
      gap: 20px;
      overflow-x: auto;
      overflow-y: auto;
      padding: 0 20px;         /* Adds space to left and right */
      margin: 0 -10px;         /* Counterbalance any container padding if needed */
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      scroll-snap-type: y mandatory;
    }
  
    .mfa-images img {
      flex-shrink: 0;
      width: 280px;
      height: 160px;
      border-radius: 8px;
      scroll-snap-align: start;
    }
  
    /* Hide scrollbar */
    .mfa-images::-webkit-scrollbar {
      display: none;
    }
    .mfa-images {
      -ms-overflow-style: none;  /* IE/Edge */
      scrollbar-width: none;     /* Firefox */
    }
  }
  @media (max-width: 435px){
    .mfa-images {
padding: 0px;
  }
  .mfa-images img {
width: 200px;
}
  }
  
  .new-blogs{
    max-width: 88%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .blog-insights{
    display: flex;
    flex-direction: row;
    gap: 45px;
    max-width: 100%;
    padding: 40px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  .blog-post{
    display: flex;
    flex-direction: column;
    max-width: 360px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    border-radius: 8px;
  }
  .new-blogs h2{
font-size: 56px;
color: #000;
font-family: "Montserrat", serif;
  } 
  .blog-texts{
    display: flex;
    flex-direction: column-reverse;
    width: 95%;
    margin-left: 3px;
  }
  .blog-texts h2{
font-size: 20px;
margin-bottom: -6px;
  }
  .blog-texts p{
    font-family: "Work Sans", serif;
    color: #626262;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;

  }
  .blog-post img{
    height: 200px;
    object-fit: cover;
    max-width: 300px;
    opacity: 0.8;
  }
  .last img{
    width: 500px;
    opacity: 0.8;
  }
  .blog-post:hover{
    transform: scale(1.1)
    ;
    transition: ease-in-out 0.5s;
  }
  .blog-post h2:hover{
    color: #ff5722 ;
  }
  .blog-post img:hover{
    opacity: 1;
  }
  .blog-card.newer img{
    opacity: 0.8;
  }
  .blog-card.newer img:hover{
    opacity: 1;
  }
  @media (max-width: 1100px){
    .blog-insights{
        flex-grow: initial;
        flex-wrap: wrap;
        gap: 20px;
    }
    .blog-post{
        
    }
  }
  @media (max-width: 768px){
    .new-blogs h2{
        font-size: 32px;
    }
    .blog-texts h2{
        font-size: 20px;
    }
    .blog-container.new{
        gap: 7px;
    }
    .newer{
        margin-bottom: -50px;
    }
    .blog-card.newer{
        width: 100%;
        max-width: 100%;
        padding: 0px;
    }

  }
  .services-sectio a {
    text-decoration: none;
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    margin: 0 auto;
    align-self: center;
    justify-self: center;

    
  }
  .services-sction a:hover{
    background-color: #fff;
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
    color: #000;
    border: 2px solid #000;
  }